@charset "utf-8";

/* @import url("../../class-02-box-model/style.css"); */

@font-face {
    font-family: playFontStyle;
    src: url("fonts/zrnic/zrnic\ rg.ttf");
}

h1 {
    font-family: playFontStyle;

    animation-name: myAnimation;

    animation-duration: 2s;

    animation-iteration-count: infinite;

    animation-direction: alternate;

    animation-timing-function: ease-in-out;

    text-align: center;

}

@media (max-width: 640px) {
    h1 {
        color: red;
    }
}

@keyframes myAnimation {
    0% {
        opacity: 0.5;
        /* transform: rotate(0deg); */

        transform: scale(1);
    }

    33% {
        color: blue;
    }

    66% {
        color: green;
    }

    100% {
        /* transform: rotate(360deg); */
        opacity: 1;
        transform: scale(1.1);
    }
}