@import url(style.css);

aside h1 {
    font-size: 48rem;
    color: brown;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-shadow: 1rem 1rem 2rem black;
}

aside table {
    font-size: 24rem;
    padding: 8rem;

    border: solid rgba(165, 42, 42, 0.5);
    border-radius: 8rem;

    background: rgba(165, 42, 42, 0.2);

    text-align: center;

    margin-top: 32rem;
}

aside table td {
    padding: 4rem;
}

.tablePromotion {
    color: brown;
}

aside p {
    text-align: center;
    margin-top: 8rem;
}

main h1 {
    font-size: 40rem;
    color: brown;

    text-shadow: 1rem 1rem 2rem black;

    text-align: center;

    margin-top: 32rem;
}

.country {
    display: flex;
    flex-direction: column;
    gap: 16rem;
}

.country h2 {
    margin-top: 32rem;

    background: linear-gradient(90deg, brown, rgba(165, 42, 42, 0.5), white);

    color: white;
}

.country img {
    width: 100%;
    height: 100%;
}

@media (min-width: 480px) {
    .boxPlans {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    }

    .boxPlans aside {
        position: sticky;
        top: 0rem;
    }
}