h1:hover {
    color: red;
}

h2 {
    transition: 3s;
    transition: 3000ms;
}

h2:hover {
    color: blue;
    transform: scale(1.1);
    transform: rotate(200deg);
    transform: rotateX(360deg);

    transform: translateX(20px);
}

.square {
    height: 120px;
    width: 120px;
    background: red;

    transition: transform 3000ms;
}

.square:hover {
    transform: rotate(720deg);
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.label-loading {
    position: absolute;
}

.circle-loading {
    height: 120px;
    width: 120px;
    border: 16px solid lightgray;
    border-top-color: blue;


    border-radius: 50%;

    animation-name: MyRotateAnimation;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

    /* animation-direction: alternate; */

    /* animation-delay: 5s; */

}

@keyframes MyRotateAnimation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}